<h2>Hi <%= @user.first_name %></h2>
<p>
Welcome to <strong><%= link_to "Dr Home", root_url %></strong>!</br>
Come and check our website to book your next medical tour.</br>
</p>
<p>See you soon!</p>
<h3>Team Dr Home</h3>
