.modal-custom {
  width: 30%;
  margin-top: 80px;
  p{
    color: black;
  }
  .modal-content {
    padding: 60px 15px;
  }
}

.modal-content {
  border-radius: 20px;
}


.content-blue {
  color: #31639C;
  font-weight: 600;
}

.small-icon {
 height: 30px;
 padding-right: 7px;
}
