/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */



// background: #CCCCCC; /* fallback for old browsers */
// background: -webkit-linear-gradient(to left, #6190E8 , #A7BFE8); /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to left, #6190E8 , #A7BFE8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

.top {
  height: 300px;
}

.recap {
background-color: white;
height: 160px;
display: flex;
align-items: center;
justify-content: center;

}

.card-recap {
color: black
}

.greycard {
  height: 220px;
  background-color: #9B9B9B;
  color: white;
  display: flex;
  align-items: center;
  padding: 30px;
  h2 {
  color: white;
  font-size: 24px;

  }

}

.login_home_wrapper {
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.loginhome{
  width: 100%;

}
.bouton {
margin-top: 30px;
}

.banner {
  color: black;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
}

.presentation-picture {
  padding-left: 0;
  img {
    width: 100%;
  }
}
.icon {
  width: 50px;
  height: 50px;
}

.texte {
  padding: 30px;
}

.flexboxhome {
  display: flex;
}

.diamond {
  width: 50%;
}

#banner {
  background-image: url("drhome-home-backgroundpic.jpg");
  opacity: 0.3;
}

.marbled {
  display: flex;
  align-items: center;
  h3 {
    font-size: 24px;
  }
}
