/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */



// background: #CCCCCC; /* fallback for old browsers */
// background: -webkit-linear-gradient(to left, #6190E8 , #A7BFE8); /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to left, #6190E8 , #A7BFE8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
.banner {
  color: white;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  width: 50%;
}

.icon {
  width: 50px;
}

.texte {
  padding: 30px;
}

.flexboxhome {
  display: flex;
}

.diamond {
  width: 50%;
}

#banner {
  background-image: url("drhome-home-backgroundpic.jpg");
  opacity: 0.3;
}
