/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
// background: #CCCCCC; /* fallback for old browsers */
// background: -webkit-linear-gradient(to left, #6190E8 , #A7BFE8); /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to left, #6190E8 , #A7BFE8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
.top {
  height: 70vh;
  background-position: 0% 91%;
}
.recap {
background-color: white;
height: 220px;
// display: flex;
align-items: center;
justify-content: center;
}
.mapicon {
  height: 50px;
}
.texte-animation {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.card-recap {
  color: black;
  p {
    margin-top: 1em;
    font-size: 16px;
  }
}
.greycard {
  height: 220px;
  background-color: #9B9B9B;
  color: white;
  display: flex;
  align-items: center;
  padding: 30px;
  opacity: 0.7;
  h2 {
  color: white;
  font-size: 24px;
  }
}
.login_home_wrapper {
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}
.loginhome{
  width: 100%;
}
.bouton {
margin-top: 30px;
}
.banner {
  color: black;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  background-position-y: -100px;
  h1 {
    font-size: 50px;
    color: $blue;
    // font-weight: bold;
  }
  h2 {
    font-weight: bold;
    font-size: 40px;
      strong {
      color: $blue;
    }
  }
  h3 {
    font-size: 22px;
    font-weight: lighter;
    margin-bottom: 50px;
  }

  strong {
    color: $blue;
  }

  .btn {
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 300;
  }
}

.typed-cursor {
  display: none;
}

.presentation-picture {
  padding: 0;
  img {
    width: 100%;
  }
}
.icon {
  width: 50px;
  height: 50px;
}
.texte {
  padding: 30px;
}
.flexboxhome {
  display: flex;
}
.diamond {
  width: 50%;
}
.marbled {
  // display: flex;
  align-items: center;
  line-height: 150%;
  h3 {
    font-size: 24px;
    font-weight: 300;
    padding: 0px 20px;
    line-height: 150%;
  }
}

.colored {
  background-color: #dee5f2;
}

.tricker {
  height: 50px;
  overflow: hidden;
  margin: 0px auto 20px;
}
.tricker h2 {
  color: #333;
  margin: 0;
  height: 50px;
  font-family: $base-font;
  line-height: 50px;
  font-size: 30px;
  text-align: center;
  // text-transform: uppercase;
  transition: margin-top .3s ease;
}
.subline {
  width: 100px;
  height: 2px;
  margin: 10px auto;
  background-color: #181818;
}

.typed-text {
  height: 30px;
}
