<div class="banner text-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class "motto">
          <h2> Dr.Home le premier site freelance pour les médecins</h2>
          <%= link_to "Créer votre compte!", _path, class: "bttn-lg" %>

          <div class="col-md-3 col-md-offset-6">
            <form action="#">
              <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="ines@gmail.com">
                <input type="password" class="form-control" id="password" placeholder="******">
              </div>
              <input type="submit" value="Enregistrez-vous" class="btn btn-primary">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
         <p>On vous trouve vos patients </p>
        <div class="col-md-3">
         <p>Selon vos disponibilités  </p>
        <div class="col-md-3">
         <p>En fonction d’où vous vous trouvez </p>
        <div class="col-md-3">
         <p>Pour vous proposer la tournée de patients la plus optimisée </p>
        </div>
      </div>
    </div>
  </div>
  <div class="diamond">
    <div class="image">
    </div>
    <div class = "texte">

    </div>

  </div>



<html>
  <head>
    <meta charset="utf-8">
    <title>Airbnb home</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:300,400,500,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- Leave those next 4 lines if you care about users using IE8 -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


<h1 style="font-family: 'Nunito', sans-serif; font-weight: lighter;">Dr Home</h1>

  <h1 style="font-family: 'Nunito', sans-serif; font-weight: lighter;">Dr Home</h1>
</div>
