<div class="banner text-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="motto">
          <h2> Dr.Home le premier site freelance pour les médecins</h2>
        </div>
        <%= link_to "Créer votre compte!", "#", class: "bttn-lg" %>
      </div>
      <div class="col-md-3 col-md-offset-6">
        <form action="#">
          <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="ines@gmail.com">
            <input type="password" class="form-control" id="password" placeholder="******">
          </div>
          <input type="submit" value="Enregistrez-vous" class="btn btn-primary">
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= image_tag "drhome-womanpic.png" %>
        <p>On vous trouve vos patients </p>
      </div>
      <div class="col-md-3">
        <p>Selon vos disponibilités  </p>
      </div>
      <div class="col-md-3">
        <p>En fonction d’où vous vous trouvez </p>
      </div>
      <div class="col-md-3">
       <p>Pour vous proposer la tournée de patients la plus optimisée </p>
      </div>
    </div>
    <div class="row diamond">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <div class="row texte">

        </div>
      </div>
    </div>
  </div>
</div>


