<div class="banner text-center">
  <h1 style="font-family: 'Nunito', sans-serif; font-weight: lighter;">Dr Home</h1>
  <div>
    <%= link_to 'Create an account', '#', class: 'primary-btn' %>
  </div>
</div>
