<div class="wrapper-intro">
	<div class="col-sm-6 col-sm-offset-1 container-intro">
		<p class="highlight">MEDECINS</p>
		<h1>care options your patients want</h1>
		<p>We partner with health systems and hospitals to extend their primary care services. We’ll help your team meet the needs of your patients by providing high quality, convenient access to care.</p>
	</div>
</div>
<div class="wrapper-benefits">
	<div class="container-intro">
		<h1>reduce cost while offering premium care</h1>
		<div class="container "> 
			<div class="row">
				<div class="col-sm-5 card-benefits " >
					<p class="highlight">BENEFICES POUR LES MEDECINS</p>
					<ul class="list-unstyled">
						<li><i class="fa fa-check-circle"></i>  Accès au flux de clients</li>
						<li><i class="fa fa-check-circle"></i>  Liberté géographique et horaire</li>
						<li><i class="fa fa-check-circle"></i>  Gestion et optimisation du trajet</li>
					</ul>
				</div>
				<div class="col-sm-5 card-benefits">
					<p class="highlight">BENEFICES POUR LES PATIENTS</p>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="wrapper-steps">
	<div class="container">
		<ul class="progressbar">
			<li class="active">sign up and complete your profile</li>
			<li>choose interest</li>
			<li>add friends</li>
			<li>view map</li>
		</ul>
	</div>
</div>



<div class="wrapper-benefits">
	<%= link_to edit_user_path(current_user) do %>
	      <i class="fa fa-user btn btn-primary"></i> <%= t(".profile", default: "Profile") %>
	<% end %>
</div>
 
