<div class="wrapper-olga intro">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-7">
				<h1>Parcourez la France, et luttez contre les déserts médicaux.</h1>
				<p>Envie de changer d'air?</p>
				<div class="space-large"></div>
				<div>
					<%= link_to "Rejoignez Dr. Home", edit_user_path(current_user), class: "how-btn" %>
				</div>
			</div>
			<div class="col-xs-12 col-sm-5">
				<%= image_tag "bike.jpg", class: "picture" %>
			</div>
		</div>
	</div>
</div>




<div class="wrapper-olga steps">
	<div class="container">
		<p class="highlight">Pour vous inscrire, c'est facile:</p>
		<div class="container-steps">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="step-circle"><span>1</span></div>
					<span> Inscription</span>
					<p>Créez-vous un compte sur Dr Home </br>et renseignez votre profil</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="step-circle-to-come"><span>2</span></div>
					<span>Validation</span>
					<p>Notre équipe valide soigneusement l'inscription de tout nouveau membre</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="step-circle-to-come"><span>3</span></div>
					<span>Configuration</span>
					<p>Renseignez vos disponibilités et votre localisation géographique </br>(modifiables à tout moment)</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="step-circle-to-come"><span>4</span></div>
					<span>Vous êtes prêt !</span>
					<p>Tous les soirs, recevez une proposition de tournée médicale personalisée directement sur votre espacee</p>
				</div>
			</div>
		</div>
	</div>
</div>




<!-- Begin MailChimp Signup Form -->
<div class="wrapper-olga benefits text-center">
<h1>Inscrivez vous à notre Newsletter</h1>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">

          <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
          <style type="text/css">
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
          </style>
          <div id="mc_embed_signup">
          <form action="//drhome.us14.list-manage.com/subscribe/post?u=ab814eb6c99c031485c360951&amp;id=d009cd532b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">

            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="adresse email" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ab814eb6c99c031485c360951_d009cd532b" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="S'inscrire" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End mc_embed_signup-->
