<div class="wrapper intro">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 container-intro">
				<p class="highlight">DR HOME</p>
				<h1>La France est un pays sans désert, sauf médical.</h1>
				<p>Nous luttons contre. Et vous?</p>
				<br>
				<br>
				<div>
					<%= link_to "Rejoignez Dr. Home", edit_user_path(current_user), class: "how-btn" %>
				</div>
			</div>
			<div class="col-xs-12 col-sm-5">
				<%= image_tag "bike.jpg", class: "picture" %>
			</div>
		</div>
	</div>
</div>



<div class="wrapper steps">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 container-intro">
				<p class="highlight">C'EST FACILE :</p>
			</div>
		</div>
	</div>	
	<div class="container-steps">
		<ul class="progressbar">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3">	
						<li class="active">
							<strong>Inscription</strong>
							<p>Créez-vous un compte sur Dr Home et renseignez votre profil</p>
						</li>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">	
						<li>
							<strong>Validation</strong>
							<p>La qualité de notre communauté nous est chère :<br> notre équipe valide soigneusement l'inscription de tout nouveau membre</p>
						</li>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">	
						<li>
							<strong>Réglages</strong>
							<p>Votre compte validé, donnez nous vos disponibilités et la localisation préférees pour vos tournées. Vous pouvez les modifiez à tout moment</p>
						</li>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">	
						<li>
							<strong>C'est parti ! </strong>
							<p>Chaque matin recevez une proposition de tournée personalisée directement dans votre poche</p>
						</li>
					</div>
				</div>
			</div>
		</ul>
	</div>
</div>



<div class="wrapper benefits">
	<div class="container-intro">
		<h1>reduce cost while offering premium care</h1>
		<div class="container "> 
			<div class="row">
				<div class="col-sm-5 card-benefits " >
					<p class="highlight">BENEFICES POUR LES MEDECINS</p>
					<ul class="list-unstyled">
						<li><i class="fa fa-check-circle"></i>  Accès au flux de clients</li>
						<li><i class="fa fa-check-circle"></i>  Liberté géographique et horaire</li>
						<li><i class="fa fa-check-circle"></i>  Gestion et optimisation du trajet</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="wrapper benefits">
	<%= link_to edit_user_path(current_user) do %>
	      <i class="fa fa-user btn btn-primary"></i> <%= t(".profile", default: "Profile") %>
	<% end %>
</div>
 
