.primary-btn {
  padding: 10px 10px;
  border-radius: 2px;
  background-color: $brand-color;
  text-decoration: none;
  font-weight: lighter;
  border: none;
  color: white;
  transition: all 0.4s ease;
  &:hover {
    color: white;
    background-color: $light-blue;
    text-decoration: none;
    border: none;
  }
}

.second-btn {
  width: 100%;
  padding: 5px auto;
  border-radius: 4px;
  border: 1px solid;
  margin-top: 4px;
  font-weight: 300;
  background: transparent;
  color: $brand-color;
  border-color: $brand-color;
  transition: all 0.3s ease;
  &:hover {
    color: white;
    background-color: $brand-color;
    border-color: $brand-color;
  }
}

.refuse-btn {
  // width: 100%;
  padding: 7px 25px;
  border-radius: 4px;
  border: 1px solid;
  margin-top: 4px;
  font-weight: 300;
  background: transparent;
  color: $red;
  border-color: $red;
  transition: all 0.3s ease;
  &:hover {
    color: white;
    background-color: $red;
    border-color: $red;
    text-decoration: none;
  }
}


.print-btn {
  // width: 100%;
  padding: 7px 25px;
  border-radius: 4px;
  border: 1px solid;
  margin-top: 4px;
  font-weight: 300;
  background: $blue;
  color: white;
  border-color: $blue;
  transition: all 0.3s ease;
  &:hover {
    color: white;
    background-color: $light-blue;
    border-color: $light-blue;
    text-decoration: none;
  }
}


.only-border-bottom-btn {
  width: 100%;
  padding: 5px auto;
  border-style: none;
  border-bottom: 1px solid;
  margin-top: 4px;
  font-weight: 300;
  color: $brand-color;
  border-color: $brand-color;
  transition: all 0.3s ease;
  &:hover {
    border-color: $brand-color;
  }
}

.navbar-btn {
  padding: 7px 25px;
  border-radius: 4px;
  border: 1px solid;
  margin-top: 4px;
  font-weight: 300;
  color: $brand-color;
  border-color: $brand-color;
  transition: all 0.3s ease;
  &:hover {
    color: white;
    background-color: $brand-color;
    border-color: $brand-color;
  }
}



.how-btn {
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 50px;
  border: 1px solid;
  margin-top: 4px;
  font-weight: 300;
  background-color: $brand-color;
  color: white;
  border-color: $brand-color;
  transition: all 0.3s ease;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: $light-blue;
    border-color: $brand-color;
  }
}
