.card {
  margin: 15px auto;
  width: 90%;
  height: 95px;
  background-color: $medium-gray;
  border-radius: 2px;
  // box-shadow: 0 0 1px #6A6A6A;
}

.demand-card {
  background-color: #eeeeee;
  margin: 0px 15px 15px 12px;
  border-radius: 3px;
  transition: all 0.5s ease;
  color: $dark-gray;
  &:hover {
    transform: scale(1.05);
  }
  &:link {
    color: $dark-gray;
  }
}
