$color: #41110f;
// $red: rgb(191,25,25);
// $blue: rgb(17,144,243);

// body {
//   background: #f4f6e8;
//   text-align: center;
// }

// h2 {
//   font-family: Helvetica, Arial, sans-seirf;
//   font-weight: 300;
//   animation: pulse 3s linear 0s infinite alternate;
// }


.bot {
  height: 250px;
}

.bot-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.message-erreur {
  margin: 0 100px;
  h3 {
    font-weight: 300;
  }
}
