.tabs {
  background: none;
  display: flex;
  border-bottom: 1px solid #D4D4D4;
}
.tabs a {
  color: $dark-gray;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid $brand-color;
  &.active {
    border-bottom: 3px solid $brand-color;
  }
  // opacity: 0.8;
}
.tabs h3 {
  font-size: 20px;
  font-weight: lighter;
  margin: 0;
  font-family: $base-font;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  background: none;
  flex: 1 1 auto;
  padding: 20px 0;
  cursor: pointer;
}
.tab:first-child {
  border-radius: 10px 0 0 0;
}
.tab:last-child {
  border-radius: 0 10px 0 0;
}
.tab.active {
  background: none;
  font-weight: bold;
  color: $brand-color;
  border-bottom: 3px solid $brand-color;
}
.tab-content {
  padding-top: 0px;
}
.tab-content h3 {
  font-size: 18px;
  font-weight: 300;
  // text-align: left;
}

.tab-parameters, .tab-next-round {
  display: flex;
}

.left {
  width: 50%;
  // display: flex;
  // flex-wrap: wrap;

  height: calc(100vh - 70px);
  overflow: scroll;
}

.map {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  #map2 {
    width: 100%;
    height: calc(100vh - 70px);
  }
}

.demand-info {
  text-align: left;
}
